<div class="container d-flex justify-content-center">
    <div class="col-md-7">
    <br>
    <center> <h3> <strong>Expense Tracker</strong></h3></center>
        <br />
        <form action="/" method="post">
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" name="description" required />
            </div>

            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" required />
            </div>

            <div class="form-group">
                <label>Choose Category:</label><br />
                <div class="row" >
                    {{#each categories}}
                        <div  style="margin-bottom: 1rem;margin-top:1rem" class="col-3 form-check">
                            <label class="form-check-label" for="{{this.id}}">{{this.category_type}}</label>
                            <input type="radio" class="form-check-input" id="{{this.id}}" name="categoryId" value="{{this.id}}" />
                        </div>
                    {{/each}}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr />

        <h5>Total expenses
            <span style="font-weight: 400;color:gray;margin-left:1.5rem;font-size:1.1rem">R {{totalExpenses}} </span>
        </h5>
        <h5>Expense summery per Category</h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Totals</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each categoryTotals}}
                    <tr>
                        <td>{{this.category_type}} </td>
                        <td>{{this.total_amount}}</td>
                        <td><a href="/expenses/{{this.category_id}}">view expenses for {{this.category_type}}</a></td>
                    </tr>
                {{/each}}

            </tbody>
        </table>

        <a href="/expenses" class="btn btn-primary" > View Expenses</a>

        <br>
        <br>

    </div>
</div>